<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <figure>
        {% for record in guest_statements %}

            <div class="guest-statement">
                <div class="message">
                    <p>{{ record[0] }}</p>

                    <div class="name-date">

                        {% for statement in record %}
                        {% if loop.index > 1 %}
                                <p>{{ statement }}</p>
                        {% endif %}

                    {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </figure>
    <div class="form-style-6">
        <form method="post">
            <input type="text" name="Username" value="Name" />
            <textarea name="Message" value="xxx">Message</textarea>
            <input type="submit" value="submit"/>
        </form>
    </div>
</body>
</html>