<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/templates.css" href="css/styles.css">
</head>
<body>
<h1>Tesla Inventions, GuestBook!</h1>



<form method="POST">
    <label for="#guestbook-username">Name</label>
    <input type="text" name="Username" id="#guestbook-username" value="name">
    <label for="#guestbook-message">Message</label>
    <input type="text" name="Message" id="#guestbook-message" value="message">
    <input type="submit" value="Submit">
</form>
</body>
</html>